@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
/* font-family: 'Kalam', cursive; */
@font-face {
    font-family: 'cordel';
    src: url('../fonts/Cordel\ Encarnado.otf');
    font-weight: normal;
}
@media (max-width: 600px) {

    header > p {
        font-size: 12px;
    }

    .footer {
        font-size: 9px;
    }
}
* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

:root {
    --font1: 'cordel', cursive;
    --font2: 'Courgette', cursive;
    --font3: 'Kalam', cursive;
}

h1 {
    display: flex;
    font-family: var(--font1);
    background-color: #000;
    color: #fff;
    font-size: 8vw;
    padding-top: 50px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    font-variant: small-caps;
}

header > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    font-weight: 550;
    padding-bottom: 40px;
    background-color: #000;
    color: #fff;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline; 
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p {
    padding-bottom: 2em;
}

.pattern {
    background-color: #fff;
    color: #000;
    font-family: var(--font2);
    font-weight: normal;
    font-size: 3.5vw;
}

.image > p{
    display: inline-block;
    padding: 5px;
    font-family: var(--font3);
    color: #fff;
    font-size: 3.5vw;
    line-height: 2em;   
    background-color: rgba(0, 0, 0, 0.473);
    text-shadow: 1px 1px 0 black;
}

.image {
    background-color: rgb(51, 51, 51);
    color: #fff;
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.308);
    background-size: cover;
    background-attachment: fixed;
}

#img01 {
    background-image: url(../img/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    
}

#img02 {
    background-image: url(../img/background002.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;    
    background-color: #000;
    color: #fff;
    font-size: 1vw;
    padding: 15px;
}